html,
body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: 100%;
}
.content {
  padding-bottom: 50px;
}
.footer {
  height: 100px; /*設定footer本身高度*/
  margin-top: -100px; /*隨footer高度需做調整*/
}
